@using Recodme.ShokuDex.WebApi.Models.FoodInfo
@model List<MealViewModel>
@*@ViewData["Foods"] List<FoodViewModel>*@


<h2>Meal</h2>

<p>
    <a asp-action="New"><i class="fas fa-plus">New</i></a>
</p>

<div class="table-responsive">
    <table class="table" id="listTable">
        <tr>
            <td></td>
            <th scope="col">@ViewBag.WeekDay[0].ToString("dd/MM")</th>
            <th scope="col">@ViewBag.WeekDay[1].ToString("dd/MM")</th>
            <th scope="col">@ViewBag.WeekDay[2].ToString("dd/MM")</th>
            <th scope="col">@ViewBag.WeekDay[3].ToString("dd/MM")</th>
            <th scope="col">@ViewBag.WeekDay[4].ToString("dd/MM")</th>
            <th scope="col">@ViewBag.WeekDay[5].ToString("dd/MM")</th>
            <th scope="col">@ViewBag.WeekDay[6].ToString("dd/MM")</th>
        </tr>
    <tr>
            <th scope="row">Morning</th>
            <td>
                <ul>
                    @{
                        var baglist = (List<FoodViewModel>)ViewBag.Foods;
                        var foodid0 = Model.Where(meal => meal.Day == ViewBag.WeekDay[0] && meal.TimeOfDayId == ViewBag.TimesOfDay[0].Id);
                        Func<FoodViewModel, bool> condition0 = (food => foodid0.Select(x => x.FoodId).Contains(food.Id));
                    }
                    @foreach (var item in baglist.Where(condition0))
                    {
                        if (item == baglist.Where(condition0).ToList()[2])
                        {
                            <li>
                                ...
                            </li>
                            break;
                        }
                        <li>
                            @item.Name
                        </li>
                    }
                </ul>
            </td>
        <td>
            <p>1</p>
            <p>2</p>
            <p>...</p>
        </td>
        @*<td>@f.name.where(meal.day == @ViewBag.WeekDay[0].ToString("dd/MM") && meal.timeofdayid == morning)</td>
        <td>
            <a asp-action="edit" asp-route-id="@meal.id"><i class="fas fa-edit text-secondary"></i></a>
            <a asp-action="delete" asp-route-id="@meal.id"><i class="fas fa-trash text-danger"></i></a>
        </td>*@
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
        <tr>
            <th scope="row">Lunch</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">Afternoon</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">Dinner</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">Night</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <th scope="row">Calories</th>
            <td>
                @{ 
                    var day0cal = Model.Where(meal => meal.Day == ViewBag.WeekDay[0]);
                    var prods = baglist.Where(x => day0cal.Select(y => y.FoodId).Contains(x.Id));
                    var sum = 0.0;
                    foreach (var prod in prods)
                    {
                        sum += day0cal.Where(x => x.FoodId == prod.Id).Sum(x => x.Portion) * prod.Calories / 100;
                    }
                }
                @sum
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        @*}*@
    </table>

</div>

<script>
    $(document).ready(function () {
        $('#listTable').DataTable({
            "order": [],
            "columnDefs": [{
                "targets": 'no-sort',
                "orderable": false,
            }]
        });
    });
</script>

