@using Recodme.ShokuDex.WebApi.Models.FoodInfo
@model Dictionary<FoodViewModel, CategoryViewModel>

<h2>Category - Details</h2>

<hr />
<div>
    <dl class="row">
        @foreach (var food in Model)
        {
            <dt class="col-2">
                <p>Name</p>
                @if (food.Key.Description == "" || food.Key.Description == null) { } else { <p>Description</p> }
                <p>Category</p>
                <p>Fats</p>
                <p>Carbohydrates</p>
                <p>Protein</p>
                <p>Alcohol</p>
                <p>Calories</p>
            </dt>
            <dd class="col-10">

                <p>@Html.DisplayFor(x => food.Key.Name)</p>
                @if (food.Key.Description == "" || food.Key.Description == null) { } else { <p>@food.Key.Description</p> }
                <p>@Html.DisplayFor(x => food.Value.Name)</p>
                <p>@Html.DisplayFor(x => food.Key.Fats)</p>
                <p>@Html.DisplayFor(x => food.Key.Carbohydrates)</p>
                <p>@Html.DisplayFor(x => food.Key.Protein)</p>
                <p>@Html.DisplayFor(x => food.Key.Alcohol)</p>
                <p>@Html.DisplayFor(x => food.Key.Calories)</p>
                
            </dd>
        }
        </dl>
</div>