@using Recodme.ShokuDex.WebApi.Models.FoodInfo
@model IEnumerable<MealViewModel>


<h2>Meal</h2>

<p>
    <a asp-controller="Meal" asp-action="New">New</a>
</p>

<div class="table-responsive">
    <table class="table" id="listTable">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Day)</th>
                <th>@Html.DisplayNameFor(model => model.Portion)</th>
                <th>@Html.DisplayNameFor(model => model.FoodId)</th>
                <th>@Html.DisplayNameFor(model => model.TimeOfDayId)</th>
                <th class="no-sort"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var meal in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(x => meal.Day)</td>
                    <td>@Html.DisplayFor(x => meal.Portion) g</td>
                    @{
                        var f = (ViewData["Food"] as List<FoodViewModel>).First(x => x.Id == meal.FoodId);
                        var tod = (ViewData["TimeOfDay"] as List<TimeOfDayViewModel>).First(x => x.Id == meal.TimeOfDayId);
                    }
                    <td>@f.Name</td>
                    <td>@tod.Name</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@meal.Id"><i class="fas fa-edit text-secondary"></i></a>
                        <a asp-action="Details" asp-route-id="@meal.Id"><i class="fas fa-search text-primary"></i></a>
                        <a asp-action="Delete" asp-route-id="@meal.Id"><i class="fas fa-trash text-danger"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<script>
    $(document).ready(function () {
        $('#listTable').DataTable({
            "order": [],
            "columnDefs": [{
                "targets": 'no-sort',
                "orderable": false,
            }]
        });
    });
</script>