@using Recodme.ShokuDex.WebApi.Models.FoodInfo
@model IEnumerable<MealViewModel>


<h2>Meal</h2>

<p>
    <a asp-action="Create">Create</a>
</p>

<div class="table-responsive">
    <table class="table" id="listTable">
        <tr>
            <td></td>
            <th scope="col">Sunday</th>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
            <th scope="col">Saturday</th>
        </tr>
        <tr>
            <th scope="row">Morning</th>
            <td>
                <table>
                    <tr>
                        <th colspan="2"></th>
                        <th colspan="2"></th>
                    </tr>
                </table>
            </td>
            <td>
                <p>1</p>
                <p>2</p>
                <p>3</p>
                <p>4</p>
                <p>5</p>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">Lunch</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">Afternoon</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">Dinner</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">Night</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">Calories</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <br />

    <table class="table" id="listTable">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Day)</th>
                <th>@Html.DisplayNameFor(model => model.Portion)</th>
                <th>@Html.DisplayNameFor(model => model.FoodId)</th>
                <th>@Html.DisplayNameFor(model => model.TimeOfDayId)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var meal in Model)
            {
            <tr>
                <td>@Html.DisplayFor(x => meal.Day)</td>
                <td>@Html.DisplayFor(x => meal.Portion) g</td>
                @{
                    var f = (ViewData["Food"] as List<FoodViewModel>).First(x => x.Id == meal.FoodId);
                    var tod = (ViewData["TimeOfDay"] as List<TimeOfDayViewModel>).First(x => x.Id == meal.TimeOfDayId);
                }
                <td>@f.Name</td>
                <td>@tod.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@meal.Id"><i class="fas fa-edit text-secondary">Edit</i></a>
                    <a asp-action="Details" asp-route-id="@meal.Id"><i class="fas fa-search text-primary">Details</i></a>
                    <a asp-action="Delete" asp-route-id="@meal.Id"><i class="fas fa-trash text-danger">Delete</i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>

</div>

<script>
    $(document).ready(function () {
        $('#listTable').DataTable({
            "order": [],
            "columnDefs": [{
                "targets": 'no-sort',
                "orderable": false,
            }]
        });
    });
</script>