@using Recodme.ShokuDex.WebApi.Models.FoodInfo
@model MealViewModel

<h2>Meals - Details</h2>

<hr />
<div>
    <div class="row">
        <div class="col-sm">
            <h4>Requester</h4>
            <dl class="row">
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.Day)
                </dt>
                <dd class="col-10">
                    @Html.DisplayFor(model => model.Day)
                </dd>
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.Portion)
                </dt>
                <dd class="col-10">
                    @Html.DisplayFor(model => model.Portion)
                </dd>
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.IsSugestion)
                </dt>
                <dd class="col-10">
                    @Html.DisplayFor(model => model.IsSugestion)
                </dd>
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.FoodId)
                </dt>
                <dd class="col-10">
                    @Html.DisplayFor(model => model.FoodId)
                </dd>
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.TimeOfDayId)
                </dt>
                <dd class="col-10">
                    @Html.DisplayFor(model => model.TimeOfDayId)
                </dd>
            </dl>
        </div>
    </div>
</div>
