@using Recodme.ShokuDex.WebApi.Models.FoodInfo
@model IEnumerable<MealViewModel>

<h2>Meal</h2>

<p>
    <a asp-action="Create">Create</a>
</p>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Day</th>
                <th>Portion</th>
                <th>IsSugestion</th>
                @*<th>ProfileId</th>*@
                <th>FoodId</th>
                <th>TimeOfDayId</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var meal in Model)
            {
            <tr>
                <td>@Html.DisplayFor(x => meal.Day)</td>
                <td>@Html.DisplayFor(x => meal.Portion)</td>
                <td>@Html.DisplayFor(x => meal.IsSugestion)</td>
                @*<td>@Html.DisplayFor(x => meal.ProfileId)</td>*@
                <td>@Html.DisplayFor(x => meal.FoodId)</td>
                <td>@Html.DisplayFor(x => meal.TimeOfDayId)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@meal.Id">Edit</a>
                    <a asp-action="Details" asp-route-id="@meal.Id">Details</a>
                    <a asp-action="Delete" asp-route-id="@meal.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>

</div>