@using Recodme.ShokuDex.WebApi.Models.FoodInfo
@model IEnumerable<MealViewModel>

<h2>Meal</h2>

<p>
    <a asp-action="Create">Create</a>
</p>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Day)</th>
                <th>@Html.DisplayNameFor(model => model.Portion)</th>
                <th>@*@Html.DisplayNameFor(model => model.IsSugestion)*@</th>
                @*<th>@Html.DisplayNameFor(model => model.ProfileId)</th>*@
                <th>@Html.DisplayNameFor(model => model.FoodId)</th>
                <th>@Html.DisplayNameFor(model => model.TimeOfDayId)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var meal in Model)
            {
            <tr>
                <td>@Html.DisplayFor(x => meal.Day)</td>
                <td>@Html.DisplayFor(x => meal.Portion)</td>
                @*<td>@Html.DisplayFor(x => meal.IsSugestion)</td>*@
                @*<td>@Html.DisplayFor(x => meal.ProfileId)</td>*@
                <td>@Html.DisplayFor(x => meal.FoodId)</td>
                <td>@Html.DisplayFor(x => meal.TimeOfDayId)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@meal.Id"><i class="fas fa-edit text-secondary">Edit</i></a>
                    <a asp-action="Details" asp-route-id="@meal.Id"><i class="fas fa-search text-primary">Details</i></a>
                    <a asp-action="Delete" asp-route-id="@meal.Id"><i class="fas fa-trash text-danger">Delete</i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>

</div>