@using Recodme.ShokuDex.WebApi.Models.FoodInfo
@model Dictionary<FoodViewModel, string>


<h2>Food Table</h2>

<p>
    <a class="insert" asp-action="Insert">&nbsp;&nbsp;<i class="fas fa-plus mr-1"></i>Insert Food&nbsp;&nbsp;</a>
</p>

<div class="table-responsive texto">
    <table class="table table-hover texto" id="listTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Fats</th>
                <th>Carbohydrates</th>
                <th>Protein</th>
                <th>Calories</th>
                <th class="text-center">Category</th>
                <th class="no-sort"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var food in Model)
            {
                <tr>
                    <td><a class="foodT" asp-action="Details" asp-route-id="@food.Key.Id" id="name">@Html.DisplayFor(x => food.Key.Name)</a></td>
                    <td  class="text-right"><a class="foodT" asp-action="Details"asp-route-id="@food.Key.Id">@Html.DisplayFor(x => food.Key.Fats) g</a></td>
                    <td class="text-right"><a class="foodT" asp-action="Details" asp-route-id="@food.Key.Id">@Html.DisplayFor(x => food.Key.Carbohydrates) g</a></td>
                    <td class="text-right"><a class="foodT" asp-action="Details" asp-route-id="@food.Key.Id">@Html.DisplayFor(x => food.Key.Protein) g</a></td>
                    <td class="text-right"><a class="foodT" asp-action="Details" asp-route-id="@food.Key.Id">@Html.DisplayFor(x => food.Key.Calories) kcal</a></td>
                    <td class="text-center"><a class="foodT" asp-action="Details"  asp-route-id="@food.Key.Id">@Html.DisplayFor(x => food.Value)</a></td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@food.Key.Id"><i class="fas fa-edit text-secondary"></i></a>
                        <a onclick="ConfirmDelete('@food.Key.Id')"><i class="fas fa-trash text-danger"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<div class="modal fade" id="modal" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this item?
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-default">Cancel</button>
                <a id="deleteBtn" class="btn btn-primary" asp-action="Delete" asp-route-id="">Delete</a>
            </div>
        </div>
    </div>
</div>

<script>

    var ConfirmDelete = function (id) {
        $("#deleteBtn").attr("href", "@ViewData["DeleteHref"]" + "Food/delete/" + id);
        $("#modal").modal('show');
    }

    $(document).ready(function () {
        $('#listTable').DataTable({
            "order": [],
            "columnDefs": [{
                "targets": 'no-sort',
                "orderable": false,
            }]
        });
    });

</script>

<style>

    a.foodT, a.foodT:link, a.foodT:visited, a.foodT:hover 
    {
        font-family: Calibri;
        font-size: 20px;
        text-decoration: none;
        color: #000000;
    }

    a.insert, a.insert:link, a.insert:visited, a.insert:hover
    {
        font-family: Calibri;
        font-size: 25px;
        font-weight:bold;
        margin:10px;
        color: #fff;
        background-color: #97CC00;
        text-decoration: none;
        border-radius: 5px;
    }

 
    #name
    {
        color:darkblue;
        font-weight:700;
    }
   
</style>